<div class="nav">
  <div>Elementle!</div>
  <div class="spacer"></div>
  <div class="show-table" (click)="showTable()" *ngIf="!showPeriodicTable">
    Show Table
  </div>
  <div class="show-table" (click)="showTable()" *ngIf="showPeriodicTable">
    Hide Table
  </div>
</div>
<div class="app-body">
  <app-home [showPeriodicTable]="showPeriodicTable"></app-home>
</div>
<div class="footer">
  Contact &nbsp;
  <a href="https://www.linkedin.com/in/nick-bruhnev/" target="_blank"
    >LinkedIn</a
  >
  &nbsp;
  <a href="https://github.com/nickpeterb" target="”_blank”">GitHub</a>
</div>
