.nav {
  width: 100vw;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.app-body {
  padding: 0 15px;
}

.spacer {
  flex-grow: 1;
}

.show-table {
  font-size: 0.8em;
  background-color: grey;
  padding: 0.2rem 0.5rem;
}

.show-table:hover {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  padding: 5px 15px;
  background-color: grey;
  color: black;
  text-align: center;
}

.footer a {
  color: black;
}
