.home {
  width: 100%;
  max-width: 100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers {
  width: 100%;
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.ansBox {
  height: 2em;
  width: 2em;
  border: 1px solid gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-text {
  color: #4caf50;
}

.mass-hint {
  width: 2em;
  height: 3px;
  margin: 2px auto;
}

.result {
  margin-top: 10px;
  margin-bottom: 10px;
}

.suggested {
  position: absolute;
  font-size: 1.3em;
  color: white;
  width: 320px;
  padding: 15px;
  height: 220px;
}

.suggested .cat {
  right: 0;
  text-transform: capitalize;
  float: right;
}

.suggested .name-wrap {
  position: absolute;
  bottom: 0;
}

.suggested .name {
  position: relative;
  text-align: center;
}

.suggested .mass {
  float: right;
}

.input {
  background-color: gray;
}

input {
  padding: 0;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 10rem;
  width: 2em;
  height: 1.5em;
  max-width: 100%;
  text-align: center;
  text-transform: capitalize;
  background-color: inherit;
  color: white;
  caret-color: transparent;
  opacity: 0.3;
}

input::placeholder {
  text-align: center;
  color: white;
  opacity: 0.5;
}

input:placeholder-shown {
  text-align: left;
}

input:focus {
  outline: 0 !important;
  opacity: 1;
}

button {
  margin: 1rem;
  background-color: whitesmoke;
  color: black;
  padding: 0.5rem 2rem;
  border: 1px solid grey;
  border-radius: 2rem;
  font-size: large;
}

button:active {
  background-color: rgb(233, 231, 231);
}

button:disabled {
  opacity: 0.5;
}
