<div class="home">
  <div class="guessesLeft">
    Guesses Remaining: <span>{{ guessesLeft }}</span>
  </div>
  <div *ngIf="guesses.length > 0">Guessed: {{ guesses.join(", ") }}</div>
  <form class="input-form">
    <div class="input">
      <input [formControl]="inputFormControl" placeholder="Na" />
    </div>
  </form>

  <button
    [disabled]="inputFormControl.invalid || guessesLeft === 0"
    (click)="guess()"
  >
    Guess
  </button>
  <br /><br />

  <div>{{ result }}</div>
  <button *ngIf="isDone" (click)="tryAgain()">Try Again</button>
</div>
